body {
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

#footer {
  background-color: #F0B7BF;
  padding: 15px 0;
}

article,
section {
  line-height: initial;
}

a {
  img:hover {
    opacity: 0.8;
  }
}
/* break point */
$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.2s
}
.page-enter, .page-leave-active {
  opacity: 0
}

/* page common */
.page_container {
  padding-top: 100px;
}
.page_top {
  background-image: url('~@/assets/images/page_back.png');
  background-position: center;
  height: 340px;
  width: 100vw;
  display: flex;
  &.page_price {
    background-image: url('~@/assets/images/page_back_price.png');
  }
  &.page_flow {
    background-image: url('~@/assets/images/page_back_flow.png');
  }
  &.page_staff {
    background-image: url('~@/assets/images/page_back_staff.png');
  }    
  &.page_faq {
    background-image: url('~@/assets/images/page_back_faq.png');
  }  
}
.page_top_title {
  margin: auto;
  color: #F59C9C;
  font-size: 60px;
  font-weight: 800;
}
.page_top_caption {
  position: relative;
  top: 60px;
  &.no_title {
    top: 80px;
  }
}
.page_description_wrap {
  background-color: #FFF7FA;
  height: 340px;
}
.page_description_inner {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.page_content_wrap {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* 共通Layout */
.main-width {
  max-width: 1000px;
}
.margin-side {
  margin-left: auto;
  margin-right: auto;
}
.padding-8 {
  padding: 8px;
}
.padding-12 {
  padding: 12px;
}
.padding-16 {
  padding: 16px;
}
.padding-20 {
  padding: 20px;
}
.padding-bottom-16 {
  padding-bottom: 16px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-bottom-24 {
  padding-bottom: 24px;
}
.padding-top-6 {
  padding-top: 6px;
}
.padding-top-12 {
  padding-top: 12px;
}
.padding-top-16 {
  padding-top: 16px;
}
.padding-top-18 {
  padding-top: 18px;
}
.padding-top-30 {
  padding-top: 18px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-top-90 {
  padding-top: 90px;
}
.padding-right-4 {
  padding-right: 4px;
}
.padding-right-8 {
  padding-right: 8px;
}
.padding-right-16 {
  padding-right: 16px;
}
.padding-left-4 {
  padding-left: 4px;
}
.padding-left-8 {
  padding-left: 8px;
}
.padding-left-16 {
  padding-left: 16px;
}
.mg-auto {
  margin: auto;
}
.mg-0 {
  margin: 0;
}
.mg-auto-vertical {
  margin: auto 0;
}
.mg-16 {
  margin: 16px;
}
.mg-left-4 {
  margin-left: 4px;
}
.mg-left-8 {
  margin-left: 8px;
}
.mg-left-16 {
  margin-left: 16px;
}
.mg-left-20 {
  margin-left: 20px;
}
.mg-right-5 {
  margin-right: 5px;
}
.mg-right-8 {
  margin-right: 8px;
}
.mg-right-12 {
  margin-right: 12px;
}
.mg-right-16 {
  margin-right: 16px;
}
.mg-right-18 {
  margin-right: 18px;
}
.mg-right-20 {
  margin-right: 20px;
}
.mg-top-2 {
  margin-top: 2px;
}
.mg-top-4 {
  margin-top: 4px;
}
.mg-top-8 {
  margin-top: 8px;
}
.mg-top-12 {
  margin-top: 12px;
}
.mg-top-20 {
  margin-top: 20px;
}
.mg-top-30 {
  margin-top: 30px;
}
.mg-top-40 {
  margin-top: 40px;
}
.mg-bottom-2 {
  margin-bottom: 2px;
}
.mg-bottom-4 {
  margin-bottom: 4px;
}
.mg-bottom-8 {
  margin-bottom: 8px;
}
.mg-bottom-10 {
  margin-bottom: 10px;
}
.mg-bottom-12 {
  margin-bottom: 12px;
}
.mg-bottom-16 {
  margin-bottom: 16px;
}
.mg-bottom-18 {
  margin-bottom: 18px;
}
.mg-bottom-20 {
  margin-bottom: 20px;
}
.mg-bottom-24 {
  margin-bottom: 24px;
}
.mg-bottom-30 {
  margin-bottom: 30px;
}
.mg-bottom-40 {
  margin-bottom: 40px;
}
.height-100per{
  height: 100%;
}
.height-100vh {
  height: 100vh;
}
.width-100vw {
  width: 100vw;
}
.width-100per {
  width: 100%;
}
.width-95per {
  width: 95%;
}
.width-75per {
  width: 75%;
}
.width-65per {
  width: 65%;
}
.width-45per {
  width: 45%;
}
.flex-row {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-bw {
  justify-content: space-between;
}
.align-right {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.margin-vertical {
  margin: auto 0;
}
.self-center {
  align-self: center;
}
.text-center {
  text-align: center;
}
.img-circle {
  border-radius: 50%;
  object-fit: cover;
}
.object-fit-cover {
  object-fit: cover;
}
/* border-radius */
.rounded-s {
  border-radius: 2px;
}
.rounded-m {
  border-radius: 5px;
}
/* border */
.border-none {
  border: none !important;
}

.shadow-1-6 {
  box-shadow: 0 1px 6px #d8d8d8;
}
.shadow-2-4 {
  box-shadow: 0 2px 4px #d8d8d8;
}
.clickable {
  transition: opacity .4s;
  &:hover{
    opacity: 0.8;
    cursor: pointer;
  }
}
.text-decoration-none {
  text-decoration: none;
}
.text-underline {
  text-decoration-line: underline;
}
.text-white {
  color: #fff;
}
.text-red {
  color: #EA4343;
}
/* link *

/* font weight */
.text-bold-ss {
  font-weight: 400;
}
.text-bold-s {
  font-weight: 500;
}
.text-bold-m {
  font-weight: 600;
}
.text-bold-l {
  font-weight: 700;
}
.text-bold {
  font-weight: bold;
}
/* font size */
.text-size-xs {
  font-size: 10px;
}
.text-size-s {
  font-size: 12px;
}
.text-size-m {
  font-size: 14px;
}
.text-size-l {
  font-size: 16px;
}
.text-sp-input {
  font-size: 16px;
}
.text-size-ll {
  font-size: 18px;
}
.text-size-xl {
  font-size: 20px;
}
.text-size-xxl {
  font-size: 24px;
}
.text-size-16-bold {
  font-size: 16px;
  font-weight: bold;
}
.text-size-20-bold {
  font-size: 20px;
  font-weight: bold;
}
.word-break {
  word-wrap: break-word;
  white-space: pre-line;
}
.word-break-all {
  word-wrap: break-word;
  white-space: pre-line;
  word-break: break-all;
}
/* 文字を...にする */
.word-omit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.line-height-nomal {
  line-height: 1.5;
}
.line-height-initial {
  line-height: initial;
}
.scroll-hidden {
  overflow: hidden;
}
.scroll-y-auto {
  overflow-y: auto;
  &:-webkit-scrollbar {
    display: none;
  }
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.bg-white {
  background-color: white!important;
}

